@import "../../styles/variables.css";

.layout {
  background: #2f2f2f;
  height: 100%;

  border-radius: 16px;
}

.noResults {
  color: var(--contrast-color);
  font-family: sans-serif;

  display: flex;
  justify-content: center;
}

.allProducersList {
  list-style: none;
  padding: 16px;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 16px;
}
