@import "../../../styles/variables.css";

.layout {
  height: 100%;
  padding: 16px;

  color: var(--contrast-color);
  font-family: sans-serif;

  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: var(--complementary-color);
  height: 12px;
  aspect-ratio: 1 / 1;

  border-radius: 50%;
  outline: none;
}

input[type="checkbox"]:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.filterSection {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.filterSection span {
  font-size: 16px;
  font-weight: bold;
}

.filterOptionsList {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 12px;
}

.filterLabel {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 4px;

  cursor: pointer;
}

@media (max-width: 768px) {
  .layout {
    display: none;
  }
}
