@import "../../styles/variables.css";

.slider {
  border-radius: 16px;
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.75);
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.slideContainer {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slideImage {
  background: #2f2f2f;
  height: 100%;
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.controls {
  width: 100%;

  display: flex;
  justify-content: space-between;

  position: absolute;
  z-index: 2;
}

.controls button {
  background: transparent;
  padding: 8px;

  border: none;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--contrast-color);
  font-size: 24px;

  cursor: pointer;
}

.indicators {
  padding: 8px;

  position: absolute;
  align-self: flex-end;

  text-align: center;
}

.indicators input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--contrast-color);
  background-color: transparent;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicators input[type="radio"]:checked {
  background-color: var(--contrast-color);
}
