.valueDropdown {
  padding: 8px 0;
}

.dropdownButton {
  background: transparent;
  padding: 0;

  border: none;

  display: flex;
  flex-flow: column nowrap;

  color: var(--contrast-color);
  font-size: 12px;
  text-align: left;

  cursor: pointer;
}

.dropdownButton span {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 16px;
  font-weight: bold;
  letter-spacing: -1px;
}

.dropdownMenu {
  background: var(--background-color);

  display: flex;
  flex-flow: column nowrap;
  gap: 4px;

  list-style: none;
  margin: 0;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 0 4px black;

  color: var(--contrast-color);
  font-family: sans-serif;

  cursor: default;
}

.dropdownItem span {
  font-weight: bold;
}

.dropdownItem {
  border-bottom: 1px solid var(--background-color);
  padding-bottom: 4px;
}

.dropdownItem:last-child {
  border-bottom: none;
}
